.contact{
    width: 400px;
    background-color: gray;
    padding: 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .8rem 0;
}

.input-field input{
    padding: 0.5rem 8rem 0.5rem 0.8rem;
    border-radius: 0.4em;
    border-color: transparent;
}

.input-field label{
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.send-btn{
    padding: .5rem 1rem;
    border-radius: 4px;
    border: none;
    background-color: #f4f4f4;
    cursor: pointer;
}