body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: white;
  color: black;
}

.left-section, .right-section {
  display: flex;
  align-items: center;
}

.middle-section h1 {
  color: black;
  text-decoration: none;
}

.right-section span {
  color: black;
}

.navbar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 999;
}

.navbar a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #575757;
}

.open-btn {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}