.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
}
  
.product-list .product-item {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    text-transform: none;
    text-decoration: none;
    color: black;
}

.product-item a {
    text-decoration: none;
    text-transform: none;
    color: black;
}

.add-to-cart-btn {
    padding: 8px 16px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart-btn:hover {
    background-color: #005bb5;
}