.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: none;
  background-color: white;
  text-decoration: none;
  text-transform: none;
}

.product-details{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-image-wrapper {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}

.product-name {
  font-size: 1em;
  text-transform: uppercase;
  width: max-content;
  font-weight: bold;
  margin-bottom: 5px;
  transition: border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

.product-name:hover {
  border-bottom: 1px solid black;
}
  
.product-price {
    font-size: 1em;
    width: max-content;
    color: #333;
}

.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: #005bb5;
}